<div class="row">
  <div ng-repeat="post in posts| orderBy: '-id'">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <hr>
          <img ng-src="{{ post.cover }}" width="900" height="300" class="img-responsive img-rounded" style="margin-top: 5px;" />
          Por {{ post.user.name }}<br>
          {{ post.created_at | date:'dd/MMMM/yyyy - HH:mm' }}<br>
          nº {{ post.id }}
        </div>
        <div class="col-md-9">
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-11">
                  <h2><a href="#/posts/{{ post.id }}">{{ post.title }}</a></h2>
                </div>
                <div class="col-md-1">
                  \/
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <p class="text-justify">
                {{ post.content | limitTo:500 }}... <a href="#/posts/{{ post.id }}">(Continuar lendo)</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<form ng-submit="addPost()" style="margin-top:30px;">
  <h3>Add a new post</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Canteúdo" rows="5" ng-model="content"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>